:root {
  //Light mode Settngs
  --ion-background-color: var(--ion-color-light);
  --ion-toolbar-background: var(--ion-color-dark-tint);
  --ion-button-color: var(--ion-color-light-contrast);
  --table-background: var(--ion-color-light);
  --text-color: var(--ion-color-light-contrast);
  --content-table-title: var(--ion-color-primary);
  --content-table-description: var(--ion-color-medium-shade); 
}

// Dark settings
.dark-mode {
  --ion-background-color: var(--ion-color-dark-shade);
  --ion-toolbar-background: var(--ion-color-dark-tint);
  --ion-button-color: var(--ion-color-light);
  --table-background: var(--ion-color-dark-tint);
  --text-color: var(--ion-color-light);
  --content-table-title: var(--ion-color-light); 
  --content-table-description: var(--ion-color-medium);
}
