#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
}

#container a {
  text-decoration: none;
}

.headerImage {
  height: 1em;
}

.menuText {
  cursor: pointer;
}

.itemText {
  cursor: pointer;
}

.itemDescription {
  cursor: default;
}

.menuButton {
  color: rgb(255, 255, 255);
}

.homeText {
  color: rgb(0, 79, 159);
  text-align: center;
  font-size: 22px;
  margin-top: 0;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.paragraph {
  font-size: 19px;
}

.mainHomeText {
  font-size: 30px;
  transition: 0.3s;
}

ion-button {
  text-transform: none;
  font-size: 17px;
}

.backButton {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.forwardButton {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.config {
  color: rgb(239, 125, 0);
}

/* Custom styles for ion-toggle switch */
ion-toggle {
  --track-background: #ababab;
  --track-background-checked: #ddd;

  --handle-background: rgb(239,125,0);
  --handle-background-checked: rgb(52, 147, 243);
  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  --handle-border-radius: 4px;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 10px;
  width: 65px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}

/* Ensure that the toggle has a consistent appearance */
ion-toggle .toggle-icon {
  display: none; /* Hide default icons if needed */
}

 // Apply to specific classes if needed
 .homeText, .footer, .paragraph, ion-button, .config {
  font-family: 'Futura', sans-serif;
}

.mainHomeText, #contentTable th, #contentTable td {
  font-family: 'Futura-Bold', sans-serif;
}

/* Add this CSS to your styles */

.nav-container {
  display: flex;
  justify-content: space-between; /* Space between breadcrumb and buttons */
  align-items: center; /* Align items vertically */
  position: relative; /* Ensure relative positioning */
}

.navButtons {
  margin: 0;
  background-color: rgb(239, 125, 0);
  background-image: url('/src/assets/wavy-background.svg'); /* Replace with the path to your wavy background SVG */
  max-width: 15%;
  width: 112px; /* Ensure the width is fixed */
  border-radius: 0em 5em 5em 0em;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center; /* Align items vertically */
}


.breadcrumb {
  margin: 0;
  font-family: Futura;
  color: var(--content-table-text);
  /* Position breadcrumb to the right */
  position: absolute;
  right: 1em; /* Adjust as needed */
  top: 50%; /* Align vertically */
  transform: translateY(-50%); /* Center vertically */
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-family: Futura;
}

.breadcrumb span, .breadcrumb-separator{
  margin-right: 0.5em;
  margin-bottom: 0;
  color: var(--content-table-text);
  transition: 0.5s;
}

.searchBar{
  color: rgb(0, 79, 159);
  background-color: rgb(255, 255, 255);
  border: 0;
  font-size: 14px;
  border-radius: 3em;
}