<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" class="menuButton"></ion-menu-button>
    <div><img src="../../assets/CAIXA_volume_negativa.png" height="20em" /></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content">
    <ion-content>
      <br />
      <ng-container *ngFor="let menuItem of menuData" class="optionList">
        <span (click)="FillContent(menuItem)">
          <div>
            <ion-button fill="clear" class="contentButton">{{ menuItem.title }}</ion-button>
          </div>
        </span>
      </ng-container>
    </ion-content>
  </ion-menu>

  <div #mainContent class="homeText" id="main-content">
    Portal CDUC<br>
    (Capacidade, Desempenho, Uso e Custo)<br>
    Portal que visa agregar todas as visões, dashboards, relatórios e acessos aos módulos e informações desenvolvidas pela CESTI65 juntamente com equipes de Capacidade CAIXA<br> 
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    CAIXA ECONÔMICA FEDERAL - CNPJ 00.360.305/0001-04. SBS QUADRA 4 LT 3/4, ASA SUL - CEP 70.070-140 BRASILIA - DF
  </ion-toolbar>
</ion-footer> 

