<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" class="menuButton"></ion-menu-button>
    <div>
      <img height="20em" />
    </div>
    <ion-menu-button class="menuButton" fill="clear" slot="end" (click)="openEndMenu()"><ion-icon name="settings-outline"></ion-icon></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content">
    <ion-content>
      <ion-button fill="clear" class="homeButton" (click)="homeButtonClicked()"
        ><ion-icon name="home-outline"></ion-icon></ion-button>
      <br />
      <ng-container *ngFor="let menuItem of menuData" class="optionList">
        <span (click)="FillContent(menuItem)">
          <div><ion-button fill="clear">{{ menuItem.title }}</ion-button></div>
        </span>
      </ng-container>
    </ion-content>
  </ion-menu>

  <div class="nav-container">
    <div class="breadcrumb" *ngIf="breadcrumbs.length > 0">
      <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
        <span (click)="navigateToBreadcrumb(i)" class="breadcrumb-item">{{ breadcrumb }}</span>
        <ng-container *ngIf="i < breadcrumbs.length - 1">
          <span class="breadcrumb-separator"> > </span>
        </ng-container>
      </ng-container>
    </div>
    

    <div class="navButtons">
      <ion-button class="backButton" *ngIf="showBackButton" fill="clear" shape="round" (click)="goBack()"><ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon></ion-button>
      <ion-button class="forwardButton"  *ngIf="showForwardButton" fill="clear" shape="round" (click)="goForward()"><ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon></ion-button>
    </div>
  </div>
  
  <div *ngIf="showSearchBar" class="search-bar-container">
    <input class="searchBar" autocomplete="off" type="text" id="searchInput" placeholder="Pesquisar" (input)="filterTable()"/>
  </div>

  <div #mainContent class="homeText" id="main-content">
    <p class="mainHomeText">{{ 'home.title' | translate }}</p>
    <p class="mainHomeText">{{ 'home.description' | translate }}</p>
    <p class="padding-small margin-large">{{ 'home.details' | translate }}</p>
    <br />
  </div>
  
  
  <div *ngIf="noItemsFound" class="no-items-message">
    <p class="errorMessage">Nenhum Resultado Encontrado</p>
  </div>
</ion-content>

<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding">
    <p>Configurações</p>
    <p>Este é um programa em fase de desenvolvimento. Algumas funções podem não funcionar como esperado</p>
    <p>Modo Escuro</p>
    <ion-toggle aria-label="Dark mode toggle" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    <ion-button fill="clear">Modo Editor</ion-button>
    <p>Idioma</p>
    <ion-button fill="clear" (click)="toggleLanguage('pt')">Português</ion-button>
    <ion-button fill="clear" (click)="toggleLanguage('en')">English</ion-button>
    <ion-button fill="clear" (click)="toggleLanguage('fr')">Français</ion-button>
    <ion-button fill="clear" (click)="toggleLanguage('es')">Español</ion-button>
  </ion-content>
</ion-menu>

<ion-footer class="footer">
  <ion-toolbar>
    <p style="color: rgb(255, 255, 255)"></p>
  </ion-toolbar>
</ion-footer>
