.headerImage {
  height: 1em;
}

.homeText {
  text-align: center;
  font-size: 22px;
  font-family: 'Futura', sans-serif;
  margin-top: 0;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.menuButton {
  color: rgb(255, 255, 255);
}

ion-button {
  text-transform: none;
  font-size: 17px;
  font-family: 'Futura', sans-serif;
}

ion-toggle {
  --track-background: var(--ion-color-medium-shade);
  --track-background-checked: #ddd;
  
  --handle-background: var(--ion-color-primary);
  --handle-background-checked: var(--ion-color-primary-shade);
  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;
  
  --handle-border-radius: 4px;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 10px;
  width: 65px;
  overflow: visible;
}

ion-toggle .toggle-icon {
  display: none;
}

.mainHomeText {
  font-size: 30px;
  font-family: 'Futura-Bold', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navButtons {
  margin: 0;
  max-width: 15%;
  width: 112px;
  border-radius: 0em 5em 5em 0em;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.breadcrumb {
  font-family: Futura;
  color: var(--text-color);
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 85%;
  box-sizing: border-box;
  padding-top: 3em;
  padding-bottom: 3em;
}

.breadcrumb::-webkit-scrollbar {
  display: none;
}

.breadcrumb span {
  margin-right: 0.5em;
  color: var(--text-color);
  display: inline-block;
  cursor: pointer;
}

.breadcrumb-separator {
  margin-right: 0.5em;
  color: var(--text-color);
  display: inline-block;
  cursor: default;
}

.breadcrumb-wrapper {
  max-width: 55%;
  overflow: hidden;
}

.searchBar {
  color: var(--ion-button-color);
  background-color: var(--ion-background-color);
  font-size: 16px;
  height: 40px;
  font-family: Futura;
  border: 3px solid var(--text-color);
  border-radius: 5px;
  padding-left: 0.5em;
}

.search-bar-container {
  margin: 1em 0;
  margin-right: 1.5em;
  position: absolute;
  right: 0;
  top: 3em;
  z-index: 10;
}

.search-bar-container input {
  width: 100%;
  font-size: 16px;
}

.search-bar-container input::placeholder {
  color: var(--text-color);
}

.table-title {
  text-align: left;
  font-family: 'Futura-Bold', sans-serif;
}

.child-table {
  transition: 0.1s;
  width: 100%;
  overflow-y: auto;
  display: block;
}

.table-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

.child-col-1 {
  text-align: left;
  padding-left: 1.5em;
}

.child-col-2 {
  padding: 1em;
  cursor: default;
  text-align: left;
  color: var(--content-table-description);
}

.child-url {
  text-decoration: none;
  color: var(--content-table-title);
  cursor: pointer;
  text-align: left;
}

.errorMessage {
  text-align: center;
  font-size: 20px;
  font-family: 'Futura';
}

.footer {
  text-align: center;
  font-size: 14px;
  font-family: 'Futura', sans-serif;
  color: rgb(255, 255, 255);
}