<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" class="menuButton"></ion-menu-button>
    <div><img src="../../assets/CAIXA_volume_negativa.png" height="20em" /></div>
    <ion-menu-button class="menuButton" fill="clear" slot="end" (click)="openEndMenu()"><ion-icon name="settings-outline"></ion-icon></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content">
    <ion-content>
      <ion-button fill="clear" class="homeButton"><ion-icon name="home-outline"></ion-icon></ion-button>
      <br />
      <ng-container *ngFor="let menuItem of menuData" class="optionList">
        <span (click)="FillContent(menuItem)">
          <div>
            <ion-button fill="clear">{{ menuItem.title }}</ion-button>
          </div>
        </span>
      </ng-container>
    </ion-content>
  </ion-menu>

  <ion-button class="backButton" *ngIf="showBackButton" fill="clear" shape="round" (click)="goBack()"><ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon></ion-button>
  
  <ion-button class="forwardButton" *ngIf="showForwardButton" fill="clear" shape="round" (click)="goForward()"><ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon></ion-button>
  


  <div #mainContent class="homeText" id="main-content">
    <p class="mainHomeText">Portal CDUC</p>
    <p class="mainHomeText">(Capacidade, Desempenho, Uso e Custo)</p>
    <br />  
    <p class="padding-small margin-large">Portal que visa agregar todas as visões, dashboards, relatórios e acessos aos módulos e informações desenvolvidas pela CESTI65 juntamente com equipes de Capacidade CAIXA</p><br> 
  </div>
</ion-content>


<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding">Configurações
    <p>Este é um programa que permanece em desenvolvimento. Esta função em breve estará disponível.</p>
  </ion-content>
</ion-menu>

<ion-footer class="footer">
  <ion-toolbar>
    <p style="color: rgb(255,255,255);">CAIXA ECONÔMICA FEDERAL - CNPJ 00.360.305/0001-04. SBS QUADRA 4 LT 3/4, ASA SUL - CEP 70.070-140 BRASILIA - DF</p>
  </ion-toolbar>
</ion-footer>  

