<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" [routerLink]="['/home']"><ion-icon class="backButton" name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title style="color: rgb(255,255,255);">{{ 'editor.pagename' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="editortitle">{{ 'editor.title' | translate }}</p>
  <p class="editortext">{{ 'editor.description' | translate }}</p>
 
  <div class="editor-section">
    <h2 class="allLables">{{ 'editor.colors' | translate }}</h2>
    
    <div class="color-picker">
      <label class="allLables" for="backgroundColor">{{ 'editor.background' | translate }}</label>
      <input id="backgroundColor" type="color" (input)="updateColor('--ion-background-color', $event)">
    </div>
    
    <div class="color-picker">
      <label class="allLables" for="toolbarColor">{{ 'editor.toolbarbackground' | translate }}</label>
      <input id="toolbarColor" type="color" (input)="updateColor('--ion-toolbar-background', $event)">
    </div>

    <div class="color-picker">
      <label class="allLables" for="buttonColor">{{ 'editor.button' | translate }}</label>
      <input id="buttonColor" type="color" (input)="updateColor('--ion-button-color', $event)">
    </div>

    <div class="color-picker">
      <label class="allLables" for="tablebackground">{{ 'editor.tablebackground' | translate }}</label>
      <input id="buttonColor" type="color" (input)="updateColor('--table-background', $event)">
    </div>

    <div class="color-picker">
      <label class="allLables" for="text">{{ 'editor.text' | translate }}</label>
      <input id="buttonColor" type="color" (input)="updateColor('--text-color', $event)">
    </div>

    <div class="color-picker">
      <label class="allLables" for="tabletext">{{ 'editor.tabletext' | translate }}</label>
      <input id="buttonColor" type="color" (input)="updateColor('--content-table-text', $event)">
    </div>

    <div class="color-picker">
      <label class="allLables" for="navbutton">{{ 'editor.navbutton' | translate }}</label>
      <input id="buttonColor" type="color" (input)="updateColor('--navbuttons', $event)">
    </div>

    <!-- Add more color pickers for other variables as needed -->
  </div>
</ion-content>