/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

:root {
  --padding-small: 0.5em;
  --padding-medium: 1em;
  --padding-large: 1.5em;
  --margin-small: 0.5em;
  --margin-medium: 1em;
  --margin-large: 1.5em;
}

.padding-small {
  padding: var(--padding-small);
}

.padding-medium {
  padding: var(--padding-medium);
}

.padding-large {
  padding: var(--padding-large);
}

.margin-small {
  margin: var(--margin-small);
}

.margin-medium {
  margin: var(--margin-medium);
}

.margin-large {
  margin: var(--margin-large);
}

/* global.scss */

body {
  background-color: var(--ion-background-color);
}

table {
  background-color: var(--table-background);
}

th {
  background-color: var(--table-header-background);
}

ion-button {
  color: var(--ion-button-color);
}

p, span {
  color: var(--text-color);
}
