<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
<ion-list lines="full">
  <ion-item>
    <ion-label><ion-button (click)="openMenu1()">CICS</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu2()" class="button">CPU</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">DB2</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu4()">Desempenho</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu5()">Memória</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu5()">Memória</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">CESTI23</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu1()">Storage</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu2()">SUART</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">SHOWBACKGEGAT</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu1()">SHOWBACKGESTI</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu1()">Desempenho Aplicação</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu2()">Performance</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">Eventos Comerciais</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu1()">Indicadores</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu2()">Broker</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">IDMS</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">Inventário</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">MQ</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">Produção</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">TCPIP</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">WAS</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">Catálogos</ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-button (click)="openMenu3()">CESTI351</ion-button></ion-label>
  </ion-item>
</ion-list>
</ion-content>







        
    

