ion-button {
    --background:transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
  
    --color: #fff;
  
    --border-radius: 1em;
    --border-color: transparent;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: transparent;
  
    --ripple-color: #ff8400;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }